/* buttons style */
.btnstyle{
    color: black;
    border: 1px solid black;
    height: 1.5rem;
    background-color: white;
    border-radius: .5rem;
    padding: 0rem .5rem 0rem .5rem;
}
/*align items into center*/
.aligncenter{
    display: flex;
    align-items: center;
}
*{
    margin: 0%;
    padding: 0%;
}
html,body{
    background-color: rgb(232, 168, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
header{
    height: 12rem;
    width: 90%;
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid rgb(0, 0, 0, 0.5);
    position: relative;
}
#setting{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
#storename{
    font-size: 3rem;
    margin: 0px 0px 0px 1rem;
}
main{
    margin-top: 1rem;
    width: 90%;
    height: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;    
}
/*search section*/
#firstsection{
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: .5rem .2rem;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid rgb(0, 0, 0, 0.5);
}
/* search styling */
#searchform{
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}
#category{
    border: none;
    height: 100%;
    margin:0px 5px 0px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
}
#search{
    border: none;
    height: 100%;
    flex-grow: 1;
    padding: 0px 5px 0px 5px;
    font-size: 17px;

}
#searchicon{
    border: none;
    padding: 0px 2px 0px 2px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* cardsection */
#cardsection{
    
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid rgb(0, 0, 0, 0.5);
}
#bottomsection{
    border-radius: 10px;
    border: 1px solid black;
    height: 60px;
    width: 90%;
    margin-top: .2rem;
    position: fixed;
    bottom: -65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid rgb(0, 0, 0, 0.5);
    transition: all .3s linear;
}
#addcardlink{
    color: white;
    background-color: rgb(18, 164, 255);
    border: 1px solid rgb(29, 0, 251);
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-weight: bolder;

}

#namepic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin: 0px 1rem 0px 0px;
}
#perpic{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
/*card designing */
.cards{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px solid rgb(0, 0, 0, 0.3);
}
.cards .itempic{
    width: 180px;
    height: 100px;
    margin: 8px 0px 8px 0px;
    border-radius: 5px;
}
.cardinfo{
    width: 100%;
    height: 53px;
    display: flex;
    flex-wrap: wrap;
}
.itemname{
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    

}
.itemprice{
    width: 130px;
    height: 14px;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.8);

}
.itemdiscount{
    width: 70px;
    height: 14px;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.8);

}
.remainingitems{
    width: 100%;
    height: 14px;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.8);
}
.deduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(18, 164, 255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
}

#uparr{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 3px;
    background-color: black;
    border: 1px solid black;
    animation-name: movebox;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#downarr{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 3px;
    background-color: white;
    border: 1px solid black;
    display: none;
    animation-name: movebox;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

/* animations */



@keyframes movebox {
    0%{
        bottom: 30px;
    }
    50%{
        bottom: 20px;

    }
    100%{
        bottom: 30px;
        }
    
}
